.skillCard-container {
    padding: 5%;
    padding-bottom: 2%;
    position: relative;
    z-index: 3;
    display: flex;
    height: auto;
    width: 15vw;
    flex-direction: column;
    align-items: center;
    transform: scale(0.9);
    border: 1px solid white;
    background-color: #0c0c0c4e;
    color: var(--primary-text-color-dark);
    transition: 0.3s all ease;
}

.skillCard-container:hover {
    transform: scale(1);
}

.skillCard-image {
    margin-top: 8%;
}

.skillCard-image img {
    height: 100px;
    aspect-ratio: 1;
}

.skillCard-title {
    margin-top: 10%;
    font-size: 32px;
    font-weight: 900;
    font-family: Lato;
    letter-spacing: 2px;
}

.skillCard-info {
    margin-top: 10%;
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    font-weight: 200;
    font-family: Unbounded;
    font-size: 20px;
}