.about-container {
    position: relative;
    z-index: 24;
    background-color: transparent;
    height: 100vh;
    color: var(--primary-text-color-dark);
    font-family: "Unbounded";
    padding: 0px var(--page-wide-margin) 0px var(--page-wide-margin);
    display: flex;
    width: 90vw;
}

.about-left-container {
    width: 50%;
}

.about-left-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-left-container img {
    height: 30vw;
    opacity: 0.75;
    border-radius: 25px;
    /* margin-bottom: 10%; */
    transition: 0.3s all ease;

}
.about-left-container img:hover{
    opacity: 0.85;
    filter:grayscale(0.1);
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0.14);
}
.about-right-container {
    width: 50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.about-name{
    font-size: 48px;
    
}
.about-para{
    text-align: left;
    font-size: 24px;
    font-weight: 300;
}
.about-icon-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
}
.about-icons{
    width: 2rem;
}
#linkedIn , #leetcode,#twitter{
    
    filter:invert(100%);
}