.app-container {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 24;
    overflow: hidden;
    background-color: var(--hero-back-color);
}

.app-back {
    position: absolute;
    top:0%;
    left: 0%;
    z-index:22;
    background-color: transparent;
    background-image: radial-gradient(rgba(61, 55, 55, 0.379) 9%, transparent 9%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: 500vh;
    width: 100vw;

}

.app-radial-overlay {

    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    background: linear-gradient(0deg, rgba(193, 34, 195, 1) 0%, rgba(45, 126, 253, 1) 100%);
    aspect-ratio: 1;
    border-radius: 50%;
    translate: -50% -50%;
    animation: rotate 20s infinite;
    /* background-color: rgb(0, 0, 0);
    background-image: radial-gradient(800px circle at var(--heroD-mouse-x) var(--heroD-mouse-y), rgba(239, 239, 239, 0.155), transparent); */
}

#app-blob-blur {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 21;
    backdrop-filter: blur(200px);
}