@font-face {
    font-family: satoshiB;
    src: url('../public/fonts/Satoshi-Bold.woff');
}

@font-face {
    font-family: interB;
    src: url('../public/fonts/Inter-Bold.latin-UCM45LQF.woff2');
}

@font-face {
    font-family: interM;
    src: url('../public/fonts/Inter-Medium.latin-Y3IVPL46.woff2')
}


:root {
    --page-wide-margin: 5%;
    --primary-text-color: #3e3e3e;
    --primary-text-color-dark:#b9b9b9;
    --hero-back-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

body,
html {
    height: 100%;
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
